
  <table class="table table-boldered">
      <thead>
          <tr>
              <td>用户名</td>
              <td>注册邮箱</td>
              <td>账号设置</td>
          </tr>

      </thead>
      <tbody>
        <tr>
          <td>
           <% if current_user.username.blank? %>
                <p>未设置</p>
            <%else%>
                <%= current_user.username %>
            <% end %>
          </td>
            <td>
                <%= current_user.email %>
            </td>
            <td>
              <%= link_to("编辑", edit_account_user_path(current_user))%>
            </td>
        </tr>
    </tbody>
  </table>
