<!-- carousel begain -->
<div class="minHeight1000 bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="/products">
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffrq9gmgo4j31hc0exmyv.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="/products">
          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffuhf1owwjj31hc0ez792.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="/products">
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg8vwvb3nwj31hc0exwke.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- carousel end -->


<!-- 热卖商品区域 -->
   <section id="portfolio">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>热卖商品</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/7" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg360gket1j30m80m8mxq.jpg" class="img-responsive" alt="Cabin">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/9" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg361mbq1gj30m80m80v8.jpg" class="img-responsive" alt="Slice of cake">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/2" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg362ckzw1j30m80m874y.jpg" class="img-responsive" alt="Circus tent">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/22" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg36atc30wj30m80m8jty.jpg" class="img-responsive" alt="Game controller">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/21" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fg36jpdamuj30m80m8jv6.jpg" class="img-responsive" alt="Safe">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="https://qingci.herokuapp.com/products/6" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg36d8fwn8j30m80m8gmm.jpg" class="img-responsive" alt="Submarine">
                   </a>
               </div>
           </div>
       </div>
   </section>

   <!-- 品牌故事 -->
    <div class="breakline pt60" id="aboutUs" style="height:200px;background-color: white">
        <div class="newarrives" style="font-size:4em; text-align: center;line-height:200px; color: #3c3e37;" id="second">
            <h2>品牌故事</h2>
        </div>
    </div>
    <!-- 标题结束 -->

    <!--正文开始-->
    <div class="box-c">
        <div class="c-row1">


              <div class="c2">
                <img src="" alt="">
                  <div class="c2-text">

                    <h3>设计师：张鹏飞</h3>
                    坐标：包头·内蒙



                    <br>
                    <div style="margin-top:20px;">跨越纬度13度89分，相隔2039.7公里的小伙伴因全栈营结识，创立「南山先生」瓷器品牌。
                        <br>希望大家多多支持。

                    </div>
                    <h3>设计师：王政</h3>
                    坐标：宁波·浙江

                </div>

            </div>
            <div class="c1"></div>
        </div>

        <div class="c-row2">
          <div class="c4"></div>
            <div class="c3">
                <div class="c3-text">
                    <h2>
                        <a href="Mailto:johsnow08@gmail.com" class="contactus">联系方式</a>
                    </h2>

                    <h3>张鹏飞</h3>
                    Jonathan
                    <br>Logdown: <a href="http://jonathan4-blog.logdown.com" target="_blank" class="contactus">jonathan4-blog.logdown.com</a>
                    <br>WeChat: z1092167387

                    <h3>王政</h3>
                    JohSnow
                    <br>Logdown: <a href="http://johsnow08-blog.logdown.com/" target="_blank" class="contactus">johsnow08-blog.logdown.com</a>
                    <br>WeChat: wangyan925672814

                </div>

            </div>


        </div>
    </div><!--正文结束-->

    <!-- 品牌故事结束 -->


<!-- 南山瓷艺的优势 -->
	<div class="lp-advantage advantage pt60 pb60">
		<h2 class="title tc f22 pb50">南山先生的优势</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tNc79ly1fd6jzimgwgj30ie0ie0td.jpg">
						<p class="lp-advantage-title f18 mt20">急速配送</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">物流，我们只选择顺丰速运，快捷、无损的将货品递交到您手上。偏远地区可选择EMS。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs5q9gsbgj315k0mekjl.jpg">
						<p class="lp-advantage-title f18 mt20">精湛的工藝</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">中国古代五大名窑“汝、钧、官、哥、定”中，我们与汝窑大师、钧瓷大师、哥弟窑大师都有合作。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffn9ln4bxnj30m80m8aly.jpg">
						<p class="lp-advantage-title f18 mt20">完美货品供应</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控。每件工艺品都会经过严格的筛选，如果您对商品不满意，我们提供7天无理由退换货。您尽管放心地买。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 大师风采 -->
  <div class="lp-feedback pt60 pb60 lp-bg-gray">
  		<h2 class="title tc f22 pb20"> 大师风采 </h2>
  		<p class="f16 tc light pb30">南山先生合作工藝大师</p>
      <div class="home-people container">
      	<div class="row">
      		<div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws1.sinaimg.cn/large/006tNc79gy1ffsvcfbdpsj309q09qjse.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            卢伟孙
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s">
  	          <span class="bg"></span>
  	          <div class="content text-center">中国陶瓷艺术大师<br/>创造性地将哥窑弟窑两种艺术效果置于同一器皿。代表作品：《春秋》、《粉青釉瓶》</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws2.sinaimg.cn/large/006tNc79gy1ffsvchmeb9j3060078wem.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            朱文立
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
  	          <span class="bg"></span>

  	          <div class="content text-center">中国陶瓷艺术大师<br/>研制了临汝窑豆绿釉、天蓝釉、月白釉、葱绿釉。代表作品：《天青竹节杯》《天青汉代尊》</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws2.sinaimg.cn/large/006tNc79gy1ffsvcg1t6fj30hs0a0mxt.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            王秋红
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
  	          <span class="bg"></span>

  	          <div class="content text-center"> 中国钧瓷工藝大师<br/> ‘变’是钧瓷的命脉，创新是钧瓷发展的唯一途径。代表作品：《锦绣前程》、《佛果》</div>
  	        </div>
  	      </div>
      	</div>
      </div>
  	</div>

<!-- 结尾导购区 -->
  	<div class="lp-action tc pr">
  		<div class="text-content pa pt60 pb60">
  			<p class="f16 pb20">南山先生——我们只是大师瓷艺作品的搬运工</p>
  				<a class="btn-lg btn lp-b-btn bc"  href="/products">立刻选购</a>
  			</p>
  		</div>
  	</div>
  </div>

  <script src="http://www.w3schools.com/lib/w3data.js"></script>
<% yield :handwrite_javascript %>
</div>
