<%= simple_form_for([@product, @product.reviews.build]) do |f|%>

<div class="form-group">
  <%= f.input :body, label: "我来说两句", input_html: { class: "form-control" ,style: "border: 1px solid #ccc;"} %>
</div>


  <%= f.submit "发表", class: "btn btn-default" %>
<% end %>
