<div class="reviews_wrapper clearfix">
  <div class="reviews">
      <ul>
          <div class="row">
            <div class="col-sm-9 review-user-email"><%= review.user.display_name %></div>
            <div class="col-sm-3"><%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
          </div>
        </br>
          <div class="review-comment">
            <%= review.body %>
          </div>      
      </ul>

      <div class="review-hr">
        <hr>
      </div>
  </div>
</div>
