<div class="w1200 cartpage clearfix bc mt30 pb20">
  <div class="logo fl"><%=link_to("购物车", products_path, class: "col-black")%></div>
  <div><%= link_to("清空购物车", clean_carts_path,
               method: :delete, class: "pull-right btn btn-default cart_delete",
               data: { confirm: "你确定要清空购物车么？"})%></div>
</div>


<div class="w1200 cartpage clearfix bc mt20">
  <ul class="cartProducts-title clearfix navbar-inverse border">
    <li class="tc fl cartProducts-title-msg">商品信息</li>
    <li class="tc fl cartProducts-title-price">单价</li>
    <li class="tc fl cartProducts-title-quantity">数量</li>
    <li class="tc fl cartProducts-title-total">小计（元）</li>
    <li class="tc fl cartProducts-title-operation">管理</li>
  </ul>

  <div class="cartPage-productList">
    <%= render :partial => "product_list" %>
  </div>
</div>
