<footer class="footer">
	<p><a href="#aboutUs" class="footer-text">品牌故事</a>
		<span>|</span> <a href="/products" class="footer-text">瓷艺集分类</a>
		<span>|</span> <a href="https://qingci.herokuapp.com/products?category=%E8%8C%B6%E5%99%A8" class="footer-text">精品茶器</a>
		<span>|</span> <a href="https://qingci.herokuapp.com/products?category=%E8%8C%B6%E5%8F%B6" class="footer-text"> 精选新茶</a>
		<span>|</span> <a href="https://qingci.herokuapp.com/products?category=%E8%8C%B6%E6%9D%AF" class="footer-text"> 精选茶杯 </a>
		<span>|</span> <a href="https://fullstack.xinshengdaxue.com/works/557" target="_blank" class="footer-text"> 点赞通道</a>
	</p>
	<p>
    <span class="logo-text">Copyright ©2017 南山先生</span>
    <span class="icp-center">设计师： Jonathan & JohSnow</span>
	</p>
</footer>

<div id="gotop">
	<i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
